<!DOCTYPE html>
<html>
<head>
<title>Flask PDFs Generator</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendors/bootstrap.min.css') }}">
<!-- Custom styles for this template -->
<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
</head>

<body>
<form class="form-generate-pdf" action="{{ url_for('generate') }}" method="post">
	{{ form.csrf_token }}
  <h1 class="h3 mb-3 font-weight-normal text-center">PDFs Generation Form</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div id="number_pdf" class="alert alert-warning" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
  <input type="number" id="number_pdf" name="number_pdf" min="1" max="150" class="form-control" placeholder="Number of PDFs to generate" required autofocus>
  <button class="btn btn-lg btn-primary btn-block" name="submit" type="submit">Generate</button>
</form>
</body>

<script type="text/javascript" src="{{ url_for('static', filename='js/vendors/bootstrap.min.js') }}"></script>

</html> 