<html>
<head>
    <title>Generated PDF</title>
</head>
<body>
<img src="/static/img/header.png" alt="DMW Header" id="dmw_header">
<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">Identifier</th>
        <th scope="col">Reference</th>
        <th scope="col">Description</th>
        <th scope="col">Date</th>
        <th scope="col">Amount (£)</th>
    </tr>
    </thead>
    <tbody>
    {% for row in data %}
    <tr>
        <td>{{ row.id }}</td>
        <td>{{ row.reference }}</td>
        <td>{{ row.description }}</td>
        <td>{{ row.date }}</td>
        <td>{{ row.amount }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><b>TOTAL</b></td>
        <td>{{ total }}</td>
    </tr>
    </tbody>
</table>
<img src="/static/img/footer.png" alt="DMW Footer" id="dmw_footer">
</body>
</html>