html {
    font-family: "Verdana";
    font-style: normal;
    font-size: 1em;
}

#dmw_header {
	left: 0px;
	width: auto;
  	height: auto;
  	max-width: 700px;
}

#dmw_footer {
  	height: auto;
  	width: 100%;
}